{%end block%}
<h2> Receive News from ...</h2>
<div class="card cardss" style="width: 18rem;">
    {%for source in sources%}
    <div class="card-body">
        <h4 class="card-title">
            <a href="{{ sources.url }}">{{ sources.name }}</a>
        </h4>
            <br />
            <h5 class="card-subtitle">{{ sources.author }}</h5>
            <p class="card-text">{{ sources.description }}</p>

    </div>
    <p>
    <span class="lan">{{ sources.language }}</span>
    <span class= "category">{{ sources.category }}</span>
    </p>
    <div class="links">
        <a href="{{ sources.url }}" class="card-link role="button">{{sources.name}}</a
    </div>

</div>