{%endblock%}
<h2> Receive News from ...</h2>
<div class="card cardss" style="width: 18rem;">
    {%for source in sources%}
    <div class="card-body">
        <h4 class="card-title">
            <a href="{{ source.url }}">{{ source.name }}</a>
        </h4>
            <br />
            <h5 class="card-subtitle">{{ source.author }}</h5>
            <p class="card-text">{{ source.description }}</p>

    </div>
    <p>
    <span class="lan">{{ source.language }}</span>
    <span class= "category">{{ source.category }}</span>
    </p>
    <div class="links">
        <a href="{{ source.url }}" class="card-link role="button">{{sources.name}}</a>
    </div>

</div>