{%extends 'bootstrap/base.html'%} {%block content%} {{super ()}}
<h1 class="text-dark mt-5">Latest Highlights from ...</h1>
<div class="card-box">
  {% for source in sources %}
  <div class="card sources">
    <div class="card-body items">
      <h5 class="card-title text">
        <a class="card-title" href="{{source.url}}">{{source.name}}</a>
        <hr/>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">{{source.author}}</h6>
      <p class="card-text">{{source.description}}</p>
      <div>
        <p class="lang">
          <span me-4> Language: {{source.language}} </span> |
          <span class="category ms-5">Category: {{source.category}}</span>
        </p>
      </div>

      <div class="links">
        <a href="{{source.url}}" role="button" class="card-link"
          >{{source.name}}
        </a>
        |
        <a href="/news/{{source.id}}" class="card-link">News</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
