<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark">
    <a class="navbar navbar-brand" href='#'> News Highlight</a>
    <button class="navbar-toggle" data-toggle="collapse" data-target="#navbarmain" type="button" aria-expanded="false" aria-Controls="#navbarmain" aria-label="Toggle navigation" <span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarmain">
        <ul class=" navbar-nav navbar-left ml-auto">
            <li class="nav-item active">
                <a class="nav-link " href="/">Home</a>
            
            </li>
            <li class="nav-item">
                <a class="nav-link tech" href="/technology">Technology</a>
            </li>
            <li class="nav-item">
                <a class="nav-link business" href="/business">Business</a>

            </li>
            <li class="nav-item">
                <a class="nav-link sports" href="/sports">Sports</a>

            </li>




        </ul>
    </div>







<form>
    <input class="form-control" type="text" placeholder = "search..." autocomplete="on" arial-label="Search..."
    name= "news-query"/>
    <button class="btn btn-primary">Submit</button>
    

</form>